
.fa-star{
    color: #FBBF24;
}
.footer-section{
    background-color: #161616;
}
.social> li > a{
    font-size: 30px;
    background: rgba(255, 255, 255, 0.1);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}